numpy>=1.0.0
openpyxl>=1.0.0
pandas>=1.0.0
pdfplumber>=1.0.0
pillow>=1.0.0
pyautogui>=1.0.0
pygetwindow>=1.0.0
pypdf>=1.0.0
pyperclip>=1.0.0
pywin32>=1.0.0
requests>=1.0.0
selenium>=1.0.0
webdriver-manager>=1.0.0
